.cardsB{
    margin-top: 25%;
}

.cardsLi{
    margin-top: 15%;
}

li{
    list-style-type: none;
}

.devFelx{
    position: fixed;
    flex-direction: row;
    align-content: flex-end;
    width: 40%;
}